@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About Page";
}

<h1 class="header">About Fried Piper</h1>

<table>
    <tr>
        <th class="empty_space2"/>
        <th>
            <p class="paragraph_style">
                Founded in 2023 by students of the CIS 400 course, Fried Piper offers the <br />
                finest and fastest of fried confectioneries for your gastronomical delight.
            </p>
        </th>
    </tr>
</table>
