@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<h1 class="header">Fried Piper Website Privacy Policy</h1>

<table>
    <tr>
        <th class="empty_space"/>
        <th>
            <p class="paragraph_style">
                Fried Piper respects the privacy of our diners. This site does not collect your data.<br />
                This site does not use cookies. This site only offers information about <br />
                Fried Piper restaurant and its menu selection.
            </p>
        </th>
    </tr>
</table>
